@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$gray-color: #efefef;
$primary-color: #66c05d;
$dark-color: #333333;
$white-color: #fff;
$black-color: #000;

.container {
  $container-width: 1110px;
  $container-padding: 20px;

  max-width: $container-width;
  margin: 0 auto;

  @media (max-width: 1150px) {
    padding: 0px $container-padding;
  }
}

@import "./UI.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";
