.button {
  border: 2px solid $primary-color;
  padding: 9px 20px;
  border-radius: 40px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  cursor: pointer;
  background: transparent;

  &_large {
    padding: 13px 26px;
  }

  &_fill {
    background: $primary-color;
    color: $white-color;
  }

  &_white {
    border: 2px solid $white-color;
    color: $white-color;
  }
}

.icon-button {
  border: 2px solid $primary-color;
  color: $primary-color;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}
